* {
  font-family: 'SF Pro Text', 'Inter', 'Segoe UI, NotoSans Nerd Font', sans-serif;
  font-size: 11px;
  min-height: 0;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  color: #dddddd;
}

#waybar {
  background: transparent;
}

#workspaces,
#cpu,
#memory,
#clock,
#pulseaudio,
#backlight,
#bluetooth,
#battery,
#tray,
#idle_inhibitor {
  background-color: #1a1b26;
  padding: 0.3rem 0.7rem;
  margin: 5px 4px;
  min-width: 0;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#workspaces,
#cpu,
#memory,
#clock,
#tray,
#idle_inhibitor {
  border-radius: 6px;
}

#workspaces {
  padding: 0.3rem 0.3rem;
}

#workspaces button {
  color: #babbf1;
  border-radius: 6px;
  padding: 0.3rem 0.6rem;
  background: transparent;
}

#workspaces button.focused {
  background-color: rgb(41, 42, 53);
  color: #99d1db;
}

#workspaces button:hover {
  color: #c6d0f5;
}

#workspaces button.urgent {
  color: #f7768e;
}

#pulseaudio,
#bluetooth,
#backlight,
#battery {
  margin: 5px 0px; 
}

#cpu:hover,
#memory:hover,
#clock:hover,
#bluetooth:hover,
#pulseaudio:hover,
#backlight:hover,
#battery:hover,
#idle_inhibitor:hover,
#tray:hover {
  background-color: rgb(41, 42, 53);
}

#battery {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-right: 7px;
}

#pulseaudio {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

#bluetooth {
  font-size: 14px;
}

#bluetooth.on {
  color: #2196f3;
}

#bluetooth.connected {
  color: #99d1db;
}

#battery.charging {
  color: #a6d189;
}

#battery.warning:not(.charging) {
  color: #ffa500;
}

#battery.critical:not(.charging) {
  color: #e78284;
}

tooltip {
  background-color: #1a1b26;
  color: #dddddd;
  padding: 5px 12px;
  margin: 5px 0px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}
